name: LEVEL100 Flutter Auto Build

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:

      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable
          cache: true

      - name: Increase version automatically
        run: |
          sed -i "s/+[0-9]*/+${GITHUB_RUN_NUMBER}/" pubspec.yaml

      - name: Install dependencies
        run: flutter pub get
        working-directory: Focus-In-School

      - name: Build APK release
        run: flutter build apk --release
        working-directory: Focus-In-School

      - name: Build AAB release
        run: flutter build appbundle
        working-directory: Focus-In-School

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: v${{ github.run_number }}
          files: | build/app/outputs/flutter-apk/app-release.apk
          build/app/outputs/bundle/release/app-release.aab
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
